streamlit
streamlit-mic-recorder
transformers
torch
faster-whisper
gtts
python-dotenv
langdetect
langchain-core
langchain-groq
langgraph
PyMuPDF
sentencepiece
yfinance
requests
pandas
alpha-vantage
finnhub-python
fredapi
lxml
html5lib